<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="css/styles.css">
<title><%= title%></title>
</head>
<body>
    <div>
        <%- include('./partials/logo.ejs')%>
    </div>
    <div class="body">
        <h1>The Ultimate</h1>
        <h1 class="blue">Note Taking App</h1>
        <p>The ultimate note-taking app designed to help you streamlined <br>
        your note-taking process and stay organised.</p>
        <button class="start"><a href="/blog">Get Started</a></button>
    </div>


    <%- include('./partials/footer.ejs')%>  