<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="css/styles.css">
<title><%= title%></title>
</head>
<body>
    <div class="logo">
        <%- include('./partials/logo.ejs')%>
    </div>

    <div class="form">
        <form action="" >
            <h1>Login</h1>
            
            <p class="error"></p>
            <label for="email" class="m-5">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password" class="m-5">password</label>
            <input type="password" name="password" id="password" required>
            <button  class="btn">Login</button>
        </form>
    </div>



<%- include('./partials/footer.ejs')%>

<script>

    const form = document.querySelector('form')
    const msg = document.querySelector('.error')
        form.addEventListener('submit', async(e) => {
        e.preventDefault();
        const email = form.email.value
        const password = form.password.value
        try {
            const res = await fetch('/login', {
            method: "POST",
            body: JSON.stringify({email, password}),
            headers: {'Content-Type': 'application/json'}
        })

        const data = await res.json();
        if(data.user){
            location.assign('/')
        }
        else{
            error.innerText = "User not found"
            console.log("2")
            location.assign('/signup')
        }
        } catch (error) {
            msg.innerText = "User not found"
            form.email.value = ""
            form.password.value = ""
            console.log(error.message)
            // location.assign('/signup')
        }
            
 })    
     
    
</script>